.v-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    height: min-content;
    .v-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        .v-title{
            width: 100%;
            height: 100%;
            font-size: $fontSubtitleSize;
            color: $whiteColor;
        }
        .v-description{
            width: 100%;
            height: 100%;
            font-size: $fontDescriptionSize;
            color: $blackColor;
        }
    }
    .v-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .v-inputs{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 20px;
        }
        .v-outputs{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 20px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .v-container{
        flex-direction: column;
        padding: 20px 0;
        .v-header{
            text-align: center;
            width: 70%;
            padding-bottom: 30px;
        }
        .v-body{
            align-items: center;
            justify-content: center;
            .item{
                justify-content: center;
                align-items: center;
            }
        }
    }
}